<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
    <link rel="stylesheet" href="navmenu.component.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <img src="../assets/images/LOGO_IKOMI.png" alt="IKM Logo" class="logo">
            <span>IKOMI PERÚ</span>
            <span>REPUESTOS DE KOREA Y JAPON</span>
        </div>
        <ul class="navbar-menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/producto">Producto</a></li>
            <li><a href="/marcas">Marcas</a></li>
            <li><a href="/contactenos">Contáctenos</a></li>
        </ul>
    </nav>
</body>
</html>
